Source: linuxmuster-linbo7
Section: admin
Priority: extra
Maintainer: Thomas Schmitt <thomas@linuxmuster.net>
Build-Depends: acl, bc, binutils, bison, build-essential, bvi, chntpw, cloop-utils,
  coreutils, ctorrent, debhelper, dosfstools, dpkg-dev, dropbear-bin, e2fsprogs,
  efibootmgr, ethtool, fakeroot, flex, fonts-ubuntu, g++, gcc, gdisk, gettext,
  grep, grub-common, grub-ipxe, grub-efi-amd64-bin, grub2-common, grub-pc-bin,
  gzip, hdparm, kmod, libacl1-dev, libattr1-dev, libdevmapper-dev, libelf-dev,
  libfuse-dev, libgl1-mesa-dev, libglu1-mesa-dev, libice-dev, libiodbc2-dev,
  libjpeg-turbo8, libjpeg-turbo8-dev, libncurses5-dev, libnih-dbus1, libstdc++6,
  linux-libc-dev, nasm, ncurses-base, netpbm, ntfs-3g, parted, patchutils, perl,
  plymouth-label, qemu-utils, rsync, systemd, sysvinit-utils, tar, udev,
  udpcast, unzip, util-linux, uuid-runtime, wget, zlib1g-dev, xz-utils, uuid-dev

Package: linuxmuster-linbo7
Architecture: all
Breaks: linuxmuster-linbo-common7
Conflicts: linuxmuster-linbo-common7, linuxmuster-linbo, linuxmuster-linbo-common, atftpd
Depends: dropbear-bin, rsync (>= 3), bittorrent, isolinux (>= 6.03), syslinux-common (>= 6.03), syslinux-utils (>= 6.03), ssh, sed, screen, xorriso (>= 1.4.2), dosfstools, udpcast, xz-utils, zip, mbr, wakeonlan, linuxmuster-base7, python3, linuxmuster-linbo-gui7, grub-common, grub-ipxe, grub-efi-amd64-bin, tftpd-hpa (>= 5.2+20150808-1ubuntu1fifopatch)
Suggests: isc-dhcp-server | dhcp3-server
Description: linuxmuster-linbo7
 This package contains kernel, initrd, scripts and pxe boot configuration for the Linux-based Network Boot (LINBO) boot/install/repair system.
