[Unit]
Description=OpenTracker service
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/opentracker -u nobody -d /srv/linbo

[Install]
WantedBy=multi-user.target
